.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
  padding: 0px;
  position: relative;
  border-radius: 10px;
  background-color: white;
  color: black;
}

.card__title {
  color: black;
  text-decoration: underline;
}

.card__title .card__price {
  font-weight: bold;
  text-decoration: none;
}

.image__container {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image__container img {
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__price {
  text-align: center;
  display: inline-block;
}

.card__badge {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background-color: rgb(227, 112, 30);
  border-radius: 50%;
  transform: translate(20px, -20px) scale(1);
  color: #fff;
  font-weight: bold;
  text-align: center;
  border: 2px solid rgb(227, 112, 30);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  animation: scaleanimation 1s ease infinite;
  opacity: 0.8;
}

.details {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-decoration: none;
}

.btn {
  background-color: white;
  color: black;
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
}

.date_price {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  text-decoration: none;
}

.price {
  font-weight: bold;
}

@keyframes scaleanimation {
  to {
    transform: translate(20px, -20px) scale(1.05);
    opacity: 1;
  }
}

.card__badge--hidden {
  display: none;
}
